/* Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* vi tri
   kich thuoc
   mau sac
   kieu dang*/
   html{
    font-family:Arial, Helvetica, sans-serif;
   
   }
.text-white{
    color:#fff !important;
} 
#wrapper{
  height:1000px;
}

#header{
  height:46px;
  background-color:#000;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 100;/*quy định lớp nổi hơn */
}
#nav ,.subnav{
    list-style-type: none;/*bỏ dấu chấm đầu dòng của thẻ ul li*/
}
#nav >li{
    display:inline-block;
}
#nav li{
    
    position:relative;
}

#nav >li >a{
    color: #fff;
    text-transform: uppercase;/*viết hoa*/
    
}
#nav >li >a{
    
    line-height: 46px;
       
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#nav >li >a{
    text-decoration: none;/*bỏ dấu gạch chân dạng link*/
    padding:0 24px;
}
#nav >li:hover >a
{
  display:inline-block;
  color: #000;
  background-color: #ccc;

}
.subnav >li:hover >a {
    display:block;
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    color:#000;
    background-color: #fff;
    position: absolute;
    display: none;
   
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
   
}
.subnav li{
    width:100%;
   
    
}
.subnav >li >a{
    color:#000;
    display: block;
    line-height: 38px;
    text-decoration: none;
    padding: 0 12px;
   
}
#nav li:hover .subnav{
    display: block;
}

#header .search-btn{
float: right;
}

#header .search-icon{
  color:#fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 16px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;/*chuyển trỏ chuột thành bàn tay*/
}
#header #nav{
    display: inline-block;
}
#slider{
    position: relative;
    padding-top: 50%;
    margin-top:46px;
    background: url('/assets/img/ny.jpg') top center / contain no-repeat;

}
 #slider .text-content{
    position:absolute;
    bottom: 47px;
    color:#fff;
    left:50%;
    text-align: center;
    transform: translateX(-50%);
    width:100%;
} 
#slider.text-heading{
    
 
}

#slider.text-discription{

} 
#content{
    padding:64px 0px ;
    height:800px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
    letter-spacing: 4px;/*khoảng cách giữa các chữ*/
    
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin:15px;
    font-style: italic;/*chữ nghiêng*/
    opacity: 0.6;
}   
#content .about-content{
    
    text-align: justify;/*căn giữa đoạn văn*/
    line-height: 1.4;/*khoảng cách giữa các dòng*/
    margin-bottom: 15px;
}
#content .member-list{
    overflow: hidden;
    padding-bottom: 76px;
    padding-left: 18.5%;
    padding-right: 18.5%;
    /*sử dụng khi thuộc tính float-left chiếm mất khối
    hoặc sử dụng .clear{claer:both]*/
    }
 #content .member-item{
 
    text-align: center;
    float: left;
}
#content img{
    width:60%;
    border-radius: 4px;
    margin-bottom: 16px;
}
#content .member-name{
    
    margin:15px 0px;
}
/* tour-section */
.content-section{
    padding: 32px 16px;
    margin: 0px 231.667px;
}
.tour-section{
    background-color: #000;
    height:1000px;
}
.tour-section .section-heading{
    color:#ccc;
}
.tour-section .tiket-list {
    list-style-type: none;
    color:#000;
    background-color: #fff;
    margin-top: 18px;
}
.tour-section .tiket-list li{
    font-size: 15px;
    color:#757575!important;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tour-section .sold-out{
    margin-left: 16px;
    padding: 2px 8px;
    color: #fff!important;
    background-color: #f44336!important;
}
.tour-section .ticket-quantity{
    width: 24px;
    height:24px;
    float: right;
    color:#fff;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top:-3px;

}

#footer{
 height:1000px;
    
}